.main{
    padding: 200px 150px;
    margin: 0px auto;
    max-width: 1600px;
    min-height: 100vh;
    counter-reset: section 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.MyName{
    margin: 0px;
    padding: 120px 0px;
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.MyName h1{
    color: rgb(100, 255, 218);
    margin: 0px 0px 20px 3px;
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
}
.MyName h2{
    font-size: 80px;
    line-height: 1.1;
    margin: 0px;
    color: rgb(205, 218, 255);
    font-family: "Concert One";
}
.MyName h3{
    margin: 0;
    font-size: 65px;
    line-height: 1.1;
    color: rgb(136, 146, 176);
}
.paragraph{
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
}
.paragraph p{
    margin: 0px 0px 15px;
    font-size: 18px;
}
.Getintouch{
    margin-top: 50px;
}
.Getintouch a{
    color: rgb(100, 255, 218);
    background-color: transparent;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.Aboutme{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    margin: 0px auto;
    padding: 150px 0px;
    max-width: 1000px;
    position: relative;
}
.Aboutme h3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Concert One";
    color: rgb(205, 218, 255);
}
.Aboutme h3::before{
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 30px;
    position: relative;
}
.Aboutme h3::after{
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
}