.main{
    padding: 200px 150px;
    margin: 0px auto;
    max-width: 1600px;
    min-height: 100vh;
    counter-reset: section 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.MyName{
    margin: 0px;
    padding: 120px 0px;
    max-width: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
}
.MyName h1{
    color: rgb(100, 255, 218);
    margin: 0px 0px 20px 3px;
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
}
.MyName h2{
    font-size: 80px;
    line-height: 1.1;
    margin: 0px;
    color: rgb(205, 218, 255);
    font-family: "Concert One";
}
.MyName h3{
    margin: 0;
    font-size: 65px;
    line-height: 1.1;
    color: rgb(136, 146, 176);
}
.paragraph{
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
}
.paragraph p{
    margin: 0px 0px 15px;
    font-size: 17px;
}
.Getintouch{
    margin-top: 50px;
}
.Getintouch a{
    color: rgb(100, 255, 218);
    background-color: transparent;
    border: 1px solid rgb(100, 255, 218);
    border-radius: 3px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.Aboutme{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    margin: 0px auto;
    padding: 150px 0px;
    max-width: 1000px;
    position: relative;
}
.Aboutme h3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Concert One";
    color: rgb(205, 218, 255);
}
.Aboutme h3::before{
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 30px;
    position: relative;
}
.Aboutme h3::after{
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
}
.AboutPara{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
}
.AboutPara1{
    width: 60%;
    max-width: 480px;
}
.AboutPara2{
    position: relative;
    width: 40%;
    max-width: 300px;
    margin-left: 60px;
}
.AboutPara1 ul{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}
.AboutPara1 div p{
    margin: 0px 0px 15px;
    font-size: 17px;
}
.AboutPara1 div p span{
    color:rgb(100, 255, 218);
}
.AboutPara1 ul li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(100, 255, 218);
}
.AboutPara1 ul li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
}
.AboutPara2 a{
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 100%;
    position: relative;
    border-radius: 3px;
    background-color: rgb(204, 214, 246);
    margin-left: -20px;
}
.AboutPara2 a::before{
    inset: 0px;
    background-color: rgb(10, 25, 47);
    mix-blend-mode: screen;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.AboutPara2 a div::after{
    border: 2px solid rgb(100, 255, 218);
    top: 10px;
    left: 10px;
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all 25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.AboutPara2 a div:hover::after{
    top: 15px;
    left: 15px;
}
.AboutPara2 a div{
    background-color: darkcyan;
    position: relative;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.AboutPara2 a div:hover{
    background-image: url("https://github.com/jitenderji1137/nested-loop/assets/113350806/6d0a36f0-a468-45c8-ba4c-61f8c886dcd0");
    background-size: contain;
}
.AboutPara2 a div img{
    width: 100%;
    mix-blend-mode: overlay;
    filter: grayscale(100%) contrast(1) brightness(90%);
}
.AboutPara2 a div img:hover{
    background-image: url("https://github.com/jitenderji1137/nested-loop/assets/113350806/6d0a36f0-a468-45c8-ba4c-61f8c886dcd0");
    background-size: contain;
}
.Experence{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    outline: none;
    margin: 0px auto;
    padding: 150px 0px;
    position: relative;
    max-width: 700px;
}
.Experence h3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Concert One";
}
.Experence h3::before{
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    color: rgb(100, 255, 218);
    font-size: 30px;
    position: relative;
}
.Experence h3::after{
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    top: 5px;
    margin-left: 20px;
}